/* Generic widget container style */
.edd-bk-widget {
    display: block;
    position: relative;
    box-sizing: border-box;
}
/* Widget loading state */
.edd-bk-widget.edd-bk-widget-is-loading {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    pointer-events: none;
}
