.about-wrap header {
    display: block;
}
.about-wrap header h1.edd-bk {
    font-size: 2.3em;
}
.about-wrap header h1.edd-bk span {
    font-size: 0.7em;
    font-family: Consolas, Monaco, monospace;
}

.about-wrap header img {
    float: right;
    border-radius: 4px;
    max-height: 80px;
}

div.about-wrap content {
    display: block;
    margin: 20px 0;
    padding: 10px;
}

div.changelog ul {
    list-style: disc inside;
}

.important-red {
    font-weight: bold;
    color: #b01;
}

h2.eddbk-roadmap {
    margin-bottom: 0 !important;
}

p.eddbk-small {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
    margin: 0;
}

.about-wrap div.media-container,
.about-wrap div.feature-section {
    padding-right: 2px;
}
.about-wrap div.media-container img,
.about-wrap div.feature-section img {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.about-wrap div.headline-feature.align-left p,
.about-wrap div.headline-feature.align-left h1,
.about-wrap div.headline-feature.align-left h2,
.about-wrap div.headline-feature.align-left h3 {
    text-align: left;
    margin-left: 0;
}

.about-wrap .edd-bk-user-letter h1 {
    font-weight: 300;
    font-size: 3em;
    margin: 1em 0;
}

.about-wrap .edd-bk-user-letter h2 {
    font-size: 2.1em;
    margin-top: 0;
}

.about-wrap .edd-bk-user-letter hr,
.about-wrap .edd-bk-user-letter .headline-feature {
    padding-bottom: 25px;
}

.about-wrap .edd-bk-user-letter hr {
    margin-left: 6em;
    margin-right: 6em;
}

.about-wrap .edd-bk-user-letter .headline-feature {
    text-align: left;
}
.about-wrap .edd-bk-user-letter .headline-feature h1,
.about-wrap .edd-bk-user-letter .headline-feature h2,
.about-wrap .edd-bk-user-letter .headline-feature h3,
.about-wrap .edd-bk-user-letter .headline-feature p {
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
}
