/**
 * TABLE OF CONTENTS
 *
 *  1 - Resets
 *  2 - Container
 *  3 - Table
 *      3.1 - Inner
 *          3.2.1 - Columns
 *          3.2.2 - Rows
 *          3.2.3 - Cells
 *          3.2.4 - Cell Content
 *      3.2 - Outer
 *          3.1.1 - Header
 *          3.1.2 - Body
 *          3.1.3 - Footer
 *              3.1.3.1 - Help Text
 *              3.1.3.2 - Add Rule Button
 *  4 - Effects
 *      4.1 - Hover Effects
 *      4.2 - Loading Effects
 *  5 - Patches
 *      5.1 - UI Sortable
 */

/**
 * 1 - Resets
 * ----------------------------------------------
 */

    /* The builder and all divs */
    div.edd-bk-builder,
    div.edd-bk-builder div {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        border-width: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

/**
 * 2 - Container
 * ----------------------------------------------
 */

    /* Builder element */
    div.edd-bk-builder {
        display: block;
        position: relative;
        border: 1px solid #e1e1e1;
    }

/**
 * 3 - Table
 * ----------------------------------------------
 */

    /**
     * 3.1 - Inner
     * ----------------------------------------------
     */

        /**
         * 3.2.1 - Columns
         * ----------------------------------------------
         */

            /* Move and Remove Columns */
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-move,
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-remove {
                width: 40px !important;
                text-align: center;
                vertical-align: middle;
            }

            /* Time Unit Column */
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-time-unit {
                width: 26% !important;
            }

            /* Start and End Columns */
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-start,
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-end {
                width: calc(32% - 40px) !important;
            }

            /* Available Column */
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-available {
                width: 10% !important;
                text-align: center;
            }

        /**
         * 3.2.2 - Rows
         * ----------------------------------------------
         */

            /* All rows */
            div.edd-bk-builder div.edd-bk-body div.edd-bk-row {
                display: block;
                background-color: #f9f9f9;
            }

            /* Even Rows */
            div.edd-bk-builder div.edd-bk-body div.edd-bk-row:nth-child(even) {
                background-color: #fefefe;
            }

        /**
         * 3.2.3 - Cells
         * ----------------------------------------------
         */

            /* All cells */
            div.edd-bk-builder div.edd-bk-row div[class*="edd-bk-col"] {
                display: inline-block;
                line-height: 35px;
                padding: 4px;
                height: 46px;
                vertical-align: middle;
            }

            /* "No Rules" cell */
            div.edd-bk-builder div.edd-bk-row div.edd-bk-col-no-rules {
                font-style: italic;
                color: #0070a3;
                width: 100%;
                padding-left: 40px;
                padding-right: 40px;
            }

        /**
         * 3.2.4 - Cell Contents
         * ----------------------------------------------
         */

            /* Any content */
            div.edd-bk-builder div.edd-bk-row div[class*="edd-bk-col"] > * {
                vertical-align: middle;
            }

            /* Selects elements and non-checkbox, non-radio input elements - strech to fit cell down to a minimum */
            div.edd-bk-builder div.edd-bk-row div select,
            div.edd-bk-builder div.edd-bk-row div input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]) {
                width: 100%;
                min-width: 50px;
            }

            /* Number input elements - no right padding to push inner roller arrows along edge */
            div.edd-bk-builder div.edd-bk-row div input[type="number"] {
                padding-right: 0;
            }

    /**
     * 3.2 - Outer
     * ----------------------------------------------
     */

        /* Header, body and footer */
        div.edd-bk-builder div.edd-bk-header,
        div.edd-bk-builder div.edd-bk-footer,
        div.edd-bk-builder div.edd-bk-body {
            display: block;
        }

        /* Header and footer only */
        div.edd-bk-builder div.edd-bk-header,
        div.edd-bk-builder div.edd-bk-footer {
            border-color: #e1e1e1;
            border-style: solid;
            border-width: 0;
            background-color: #fff;
        }

        /**
         * 3.1.1 - Header
         * ----------------------------------------------
         */

            div.edd-bk-builder div.edd-bk-header {
                font-weight: bold;
                border-bottom-width: 1px;
            }

        /**
         * 3.1.2 - Body
         * ----------------------------------------------
         */

            div.edd-bk-builder div.edd-bk-body {
                background-color: transparent;
            }

        /**
         * 3.1.3 - Footer
         * ----------------------------------------------
         */

            div.edd-bk-builder div.edd-bk-footer {
                border-top-width: 1px;
            }

            /**
             * 3.1.3.1 - Footer
             * ----------------------------------------------
             */

                /* Help Text Column */
                div.edd-bk-builder div.edd-bk-footer div.edd-bk-col-help {
                    width: 75%;
                    padding-left: 10px;
                }

            /**
             * 3.1.3.2 - Footer
             * ----------------------------------------------
             */

                /* Add Rule Column */
                div.edd-bk-builder div.edd-bk-footer div.edd-bk-col-add-rule {
                    width: 25%;
                    text-align: right;
                    padding-right: 10px;
                }

                /* Add Rule Button */
                div.edd-bk-builder div.edd-bk-footer div.edd-bk-col-add-rule .button {
                    max-height: 36px;
                }

                /* Add Rule Button Loading Icon */
                div.edd-bk-builder div.edd-bk-col-add-rule .button > i.edd-bk-add-rule-loading {
                    display: none;
                }

/**
 * 4 - Effects
 * ----------------------------------------------
 */

    /**
     * 4.1 - Hover Effects
     * ----------------------------------------------
     */

        /* Move cell hover effect */
        div.edd-bk-builder div.edd-bk-body div.edd-bk-row div.edd-bk-col-move:hover {
            cursor: ns-resize;
            color: white;
            background: #67A4DA;
        }

        /* Remove cell hover effect */
        div.edd-bk-builder div.edd-bk-body div.edd-bk-row div.edd-bk-col-remove:hover {
            cursor: pointer;
            color: white;
            background: #C54F54;
        }

    /**
     * 4.2 - Loading Effects
     * ----------------------------------------------
     */

        /* Row Loading Effect */
        div.edd-bk-builder div.edd-bk-body div.edd-bk-row.edd-bk-loading {
            opacity: 0.5;
            pointer-events: none;
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);
        }

        /* Add Rule Button - Standard Icon - Hide when loading */
        div.edd-bk-builder div.edd-bk-col-add-rule .button.edd-bk-loading > i.edd-bk-add-rule-icon {
            display: none;
        }

        /* Add Rule Button - Loading Icon - Show when loading */
        div.edd-bk-builder div.edd-bk-col-add-rule .button.edd-bk-loading > i.edd-bk-add-rule-loading {
            display: inline-block;
        }
