body.post-type-edd_booking a.page-title-action:first-of-type {
    display: none;
}

body.post-type-edd_booking #post-body-content {
    display: none;
}

table.edd-bk-booking-details {
    border: 0 solid transparent;
    background-color: transparent;
}

table.edd-bk-booking-details tbody tr td:first-child {
    font-weight: bold;
}

table.edd-bk-booking-details div.edd-bk-alt-booking-time {
    display: block;
    width: auto;
    margin: 8px 0 0;
    padding: 2px;
    padding-left: 8px;
    font-style: italic;
    border-left: 2px solid #dadada;
}

table.edd-bk-booking-details td {
    line-height: 1.3em;
    padding-top: 6px;
    padding-bottom: 6px;
}

body.post-type-edd_booking div.edd-bk-admin-calendar-button {
    height: 30px;
    overflow: visible;
}
body.post-type-edd_booking div.edd-bk-admin-calendar-button a {
    margin: 1px 8px 0 0;
    height: 28px;
}

div.edd-bk-admin-calendar {
    margin: 20px 0;
}

body a.edd-bk-calendar-view-link {
    display: none;
}

div.edd-bk-bookings-calendar {
    margin: 22px 0;
}

div.edd-bk-bookings-calendar td.fc-event-container {
    cursor: pointer;
}