.edd-bk-booking-details > div {
    display: block;
    margin: 5px 0;
}

.edd-bk-booking-details > div > * {
    vertical-align: middle;
}

.edd-bk-booking-details > div > div {
    display: inline-block;
}

.edd-bk-booking-details > div > label {
    display: inline-block;
    min-width: 150px;
    font-weight: 500;
}

.edd-bk-booking-details > hr {
    margin: 12px 0;
    border-color: #ededed;
    border-width: 0 0 1px;
}

.edd-bk-booking-details > div input[type="number"] {
    width: 80px;
}

.edd-bk-booking-details > div.advanced-times > div {
    margin: -6px 0 10px 1px;
    padding: 2px 15px;
    border-left: 2px solid #e5e5e5;
}

.edd-bk-booking-details > div.advanced-times > div > p {
    font-size: 90%;
    font-style: italic;
    font-weight: 300;
    margin: 3px 0 5px;
}

.edd-bk-booking-details > div.advanced-times > div > p > code {
    font-size: inherit;
    font-style: normal;
    font-weight: inherit;
    border-radius: 1px;
    background: transparent;
    border-bottom: 2px dotted #e5e5e5;
}
