body.post-type-edd_booking #post-body-content {
    display: none;
}

body.post-type-edd_booking div.edd-bk-admin-calendar-button {
    height: 30px;
    overflow: visible;
}
body.post-type-edd_booking div.edd-bk-admin-calendar-button a {
    margin: 1px 8px 0 0;
    height: 28px;
}

body a.edd-bk-calendar-view-link {
    display: none;
    margin-left: 10px !important;
}

.wp-list-table .column-duration {
    width: 120px;
}
.wp-list-table .column-customer {
    width: 150px;
}
.wp-list-table .column-download {
    width: 150px;
}
.wp-list-table .column-payment {
    width: 150px;
}
