.edd-bk-timepicker {
	display: none;
}

.edd-bk-timepicker-loading {
	display: none;
}

.edd-bk-timepicker p {
	margin: 10px 0;
}

.edd-bk-no-times-for-date {
	display: none;
}

.edd-bk-unavailable-msg,
.edd-bk-invalid-date-msg,
.edd-bk-datefix-msg {
	display: none;
	border: 1px solid #eee;
	padding: 5px 8px;
}
.edd-bk-unavailable-msg > p,
.edd-bk-invalid-date-msg > p,
.edd-bk-datefix-msg > p {
	margin: 0;
}
.edd-bk-unavailable-msg > p > span,
.edd-bk-invalid-date-msg > p > span,
.edd-bk-datefix-msg > p > span {
	font-style: italic;
	border-bottom: 1px dotted #aaa;
}

.edd-bk-unavailable-msg {
	margin-bottom: 12px;
}
