div.edd-bk-service-container div.edd-bk-collapse-container {
    display: none;
}

div.edd-bk-service-container div.edd-bk-collapse-container > hr {
    margin: 10px 0 20px;
}

/* Sections */
div.edd-bk-service-container div.edd-bk-service-section {
    display: block;
    padding: 5px 0;
}
/* Labels */
div.edd-bk-service-container div.edd-bk-service-section > label {
    display: inline-block;
}
div.edd-bk-service-container div.edd-bk-service-section > a,
div.edd-bk-service-container div.edd-bk-service-section > label > span {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
}
div.edd-bk-service-container div.edd-bk-service-section > label.fixed > span {
    width: 200px
}
/* Price currency span */
div.edd-bk-service-container div.edd-bk-service-section > label span.edd-bk-price-currency {
    float: right;
}
/* Input fields (except checkboxes) */
div.edd-bk-service-container div.edd-bk-service-section input:not([type="checkbox"]) {
    height: 28px;
    vertical-align: middle;
}
/* Checkboxes */
div.edd-bk-service-container div.edd-bk-service-section input[type="checkbox"] {
    line-height: 28px;
    vertical-align: middle;
}
/* Number fields */
div.edd-bk-service-container div.edd-bk-service-section input[type="number"] {
    width: 100px;
}

a.edd-bk-help-toggler {
    cursor: pointer;
}

div.edd-bk-help-section {
    display: none;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #e1e1e1;
    background: #f6fbfd;
}

div.edd-bk-help-section > p {
    margin: 0;
}

div.edd-bk-help-section > p:not(:last-of-type) {
    margin-bottom: 10px;
}

span.edd-bk-availability-links-section,
span.edd-bk-availability-create-new-tooltip {
    display: none;
    width: auto !important;
}
