/**
 * Timetable interface styles.
 */

/* Table */
div.edd-bk-timetable-container table {
    table-layout: fixed;
    background: #fff;
}

/* Table column sizes */
div.edd-bk-timetable-container table thead th.edd-bk-col-move,
div.edd-bk-timetable-container table thead th.edd-bk-col-remove{
    width: 25px;
}
div.edd-bk-timetable-container table thead th.edd-bk-col-rule-type {
    width: 130px;
}
div.edd-bk-timetable-container table thead th.edd-bk-col-available {
    width: 45px;
    word-wrap: normal;
}

/* Table rows alternate backgrounds */
div.edd-bk-timetable-container table tbody tr {
    background: #f9f9f9;
    position: relative;
    height: 46px;
}
div.edd-bk-timetable-container table tbody tr:nth-child(even) {
    background: #fefefe;
}

/* Table row loading */
div.edd-bk-timetable-container table tbody tr.edd-bk-loading {
    opacity: 0.5;
    pointer-events: none;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

/* The no rules message */
div.edd-bk-timetable-container table tbody tr.edd-bk-if-no-rules {
    height: auto;
}
div.edd-bk-timetable-container table tbody tr.edd-bk-if-no-rules > td > p {
    display: inline-block;
    font-style: italic;
    vertical-align: middle;
    margin: 0;
}

/* Table cells */
div.edd-bk-timetable-container table tbody td *,
div.edd-bk-timetable-container table tbody td {
    vertical-align: baseline;
}

/* Start/End cells */
div.edd-bk-timetable-container table tbody tr td.edd-bk-rule-start > *:first-child,
div.edd-bk-timetable-container table tbody tr td.edd-bk-rule-end > *:first-child {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/* Available checkbox cells */
div.edd-bk-timetable-container table tbody td.edd-bk-rule-available {
    text-align: center;
}

/* Handle cells */
div.edd-bk-timetable-container table tbody td.edd-bk-rule-move-handle,
div.edd-bk-timetable-container table tbody td.edd-bk-rule-remove-handle {
    padding: 8px 17px;
    text-align: center;
}
/* Handle icons */
div.edd-bk-timetable-container table tbody td.edd-bk-rule-move-handle i,
div.edd-bk-timetable-container table tbody td.edd-bk-rule-remove-handle i {
    display: inline-block;
    width: 12px;
}

/* Handle cell hover effects */
div.edd-bk-timetable-container table tbody .ui-sortable-helper td.edd-bk-rule-move-handle,
div.edd-bk-timetable-container table tbody td.edd-bk-rule-move-handle:hover {
    cursor: move;
    background: #67A4DA;
    color: white;
}
div.edd-bk-timetable-container table tbody td.edd-bk-rule-remove-handle:hover {
    cursor: pointer;
    background: #C54F54;
    color: white;
}

/* Footer alignment */
div.edd-bk-timetable-container table tfoot tr {
    line-height: 1em;
}
div.edd-bk-timetable-container table tfoot tr > * {
    vertical-align: middle;
}
/* "Add rule" button */
div.edd-bk-timetable-container table tfoot td.edd-bk-timetable-add-rule {
    text-align: right;
}
div.edd-bk-timetable-container table tfoot td.edd-bk-timetable-add-rule button > i.edd-bk-add-rule-loading {
    display: none;
}
