div.fes-fields div.edd-bk-fes-field {
    display: block;
    padding: 5px 0;
    margin: 4px 0;
}

.fes-vendor-menu [class^="icon-"].icon-book, .fes-vendor-menu [class*=" icon-"].icon-book {
    background-position: -48px -48px;
}
.fes-vendor-menu [class^="icon-"].icon-calendar, .fes-vendor-menu [class*=" icon-"].icon-calendar {
    background-position: -192px -120px;
}

/* Uniform field heights */
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="text"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="number"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="time"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="date"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="email"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container textarea,
.vendd-fes-template .fes-form fieldset .fes-fields select,
.vendd-edd-fes-shortcode .fes-form fieldset .fes-fields select {
    height: 35px;
    box-sizing: border-box;
}

/* Stupid Vendd + FES Input Field Shadow */
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="text"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="number"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="time"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="date"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container input[type="email"],
.vendd-edd-fes-shortcode div.fes-form fieldset .fes-fields div.edd-bk-availability-container textarea {
    border-bottom-width: 1px;
}

/* Border fix for Week and Day views for FullCalendar */
.entry-content .edd-bk-fc table .fc-slats tr td {
    border-top: 1px solid #ddd;
}
.entry-content .edd-bk-fc table .fc-slats tr.fc-minor td {
    border-top-style: dotted;
}
